@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./images/donation6.jpg");
    padding: 130px 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.header h1 {
    font-size: 50px;
}
.button {
    background-color: crimson;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 40px;
    display: inline-block;
}
.today {
    text-align: center;
    padding: 100px 300px 50px;
}

.today h2 {
    font-size: 40px;
}
.amount {
    display: flex;
    justify-content: center;
}
.amount div {
    margin: 10px;
    padding: 8px 20px;
    background-color: rgba(128, 128, 128, 0.14);
}
#featured-taka {
    color: crimson;
    border: solid rgba(220, 20, 60, 0.692);
    background-color: #ffeeee;
}
#input-amount {
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    outline: none;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    padding: 10px 100px;
}
.plan {
    text-align: center;
    padding: 50px 300px;
}
.plan h2 {
    font-size: 40px;
}
.flex-container {
    display: flex;
    border: 20px;
    padding: 20px 100px;
    text-align: justify;
    box-sizing: content-box;
}
.flex-container .box {
    margin: 10px;
    padding: 15px;
}
#food {
    background-color: rgba(78, 158, 166, 0.1);
}
#shelter {
    background-color: rgba(255, 87, 87, 0.1);
}
#edu {
    background-color: #fff4d6;
}
footer {
    color: aqua;
    background-color: black;
    margin: 0px;
    padding: 2px;
    text-align: center;
}
