@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./images/donation6.jpg");
    padding: 130px 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.header h1 {
    font-size: 50px;
}
.header a {
    background-color: crimson;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 40px;
    display: inline-block;
}
